1. What is the output of the following code?

In [1]:
nums = set([1,1,2,3,3,3,4,4])
print(len(nums))

4

2. What will be the output?

In [2]:
d = {"john":40, "peter":45}

print(list(d.keys()))

['john', 'peter']

3. Write a for loop that prints all elements of a list and their position in the list.

In [3]:
a = [4,7,3,2,5,9]
for item in a:
    print(str(item) + " is at position " + str(a.index(item) + 1))

4 is at position 1
7 is at position 2
3 is at position 3
2 is at position 4
5 is at position 5
9 is at position 6

4. Please write a program which accepts a string from console and print the characters that have even indexes.

In [4]:
s=input("Enter String like H1e2l3l4o5w6o7r8l9d means alphanumeric string which wil contain alternate alphabates and numbers")
s = s[::2]
print(s)

Enter String like H1e2l3l4o5w6o7r8l9d means alphanumeric string which wil contain alternate alphabates and numbersH1e2l3l4o5w6o7r8l9d
Helloworld

5. Please write a program which accepts a string from console and print it in reverse order.

In [5]:
s=input("Enter string which you want to reverse")
s = s[::-1]
print(s)

Enter string which you want to reverseris etov ot esir
rise to vote sir

6. Please write a program which counts and prints the numbers of each character in a string input by console.

In [6]:
dic = {}
s=input('Enter string')
for s in s:
    dic[s] = dic.get(s,0)+1
print('\n'.join(['%s,%s' % (k, v) for k, v in dic.items()]))

Enter stringabcdefgabc
a,2
b,2
c,2
d,1
e,1
f,1
g,1

7. With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersections of the above given lists.

In [7]:
set1={1,3,6,78,35,55}
set2={12,24,35,24,88,120,155}
set1 &= set2
li=list(set1)
print(li)

[35]

8. Write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

In [8]:
li = [12,24,35,24,88,120,155]

li = [x for x in li if x!=24]

print(li)

[12, 35, 88, 120, 155]

9. Write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [9]:
li = [12,24,35,70,88,120,155]
li = [x for (i,x) in enumerate(li) if i not in (0,4,5)]
print(li)

[24, 35, 70, 155]

10. Write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

In [10]:
li = [12,24,35,70,88,120,155]

li = [x for x in li if not (x%5 ==0 and x%7==0)]

print(li)

[12, 24, 88, 120, 155]

11. Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

In [11]:
n=int(input("Enter a number"))
sum=0.0
for i in range(1,n+1):
    sum += float(float(i)/(i+1))
print(sum)

Enter a number5
3.5500000000000003